
.icon-code-2:before { content: '\e800'; } /* '' */
.icon-code-1:before { content: '\e801'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
