@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
body {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0;
}

.navbar {
    background: black;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.navbar ul,
.navbar ul li {
    list-style: none;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.navbar ul a {
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
}

.navbar ul a:hover {
    list-style: none;
    text-decoration: none;
    color: #eed2d2;
    font-size: 25px;
    font-weight: 700;
}

.navbar strong {
    color: #232f34;
    font-size: 25px;
    font-weight: 700;
}

.navbar strong:hover {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
}

.navbar .icon-code-1 {
    font-size: 30px;
    color: whitesmoke;
}

.navbar form input {
    background: whitesmoke;
    box-shadow: none !important;
    border: 1px solid black;
    border-radius: 0;
    color: black;
    text-decoration: none;
    list-style: none;
}

.navbar form input:hover {
    background: #dddddd;
    box-shadow: none !important;
    border: 1px solid black;
    border-radius: 0;
    color: black;
    text-decoration: none;
    list-style: none;
}

.navbar form button {
    background: #eed2d2;
    color: black;
    border: 1px solid black;
    border-radius: 0;
}

.navbar form button:hover {
    background: #e2c1bd;
    color: black;
    border: 1px solid black;
    border-radius: 0;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.welcome-section h1 {
    font-size: 80px;
    color: black;
    text-align: center;
}

.welcome-section h1:hover {
    font-size: 70px;
    color: #737273;
    text-align: center;
}

.welcome-section p {
    font-size: 30px;
    color: #737273;
    text-align: center;
}

.welcome-section p:hover {
    font-size: 20px;
    color: #e2c1bd;
    text-align: center;
}

.welcome-section i {
    font-size: 20px;
    color: black;
}

.welcome-section i:hover {
    font-size: 30px;
    color: #e2c1bd;
}

.projects-section {
    width: 100%;
    background: #dddddd;
}

.projects-section h2 {
    color: black;
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.projects-section h2:hover {
    color: #737273;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    background: #c1c1c1;
    border-radius: 0;
    margin-bottom: 30px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    background: #f7e1de;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact-section {
    background: #757575;
    border-top: 1px solid #757575;
}

.contact-section h2 {
    color: black;
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
}

.contact-section p,
.contact-section .hp {
    color: #e2c1bd;
    text-align: center;
    font-size: 15px;
}

.links {
    text-align: center;
}

.contact-links-detail {
    color: black;
    font-size: 27px;
    text-align: center;
    margin: 15px;
    text-decoration: none !important;
    list-style: none !important;
}

.contact-links-detail:hover {
    color: #e2c1bd;
    font-size: 27px;
    text-align: center;
    margin: 15px;
    text-decoration: none !important;
    list-style: none !important;
}

.contact-links-detail i {
    color: black;
    padding-bottom: 30px;
}

.project-title {
    color: black;
    font-size: 13px;
}

footer {
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: black;
    border-top: 1px solid black;
    color: whitesmoke;
    font-size: 15px;
}

footer a {
    text-decoration: none !important;
    list-style: none !important;
    color: whitesmoke;
    font-size: 15px;
}

footer a:hover {
    text-decoration: none !important;
    list-style: none !important;
    color: grey;
    font-size: 15px;
}